*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f2f5;
}

.auth-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-content: center;
    
}

.auth-header{
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.auth-subtitle{
    color: #8a7d8a;
    font-size: 16px;
}
.auth-form-wrapper{
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 8px rgba (0,0,0,0.1);
}

.auth-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form-group input {
    padding: 8px;
   width: 100%;
    
}
.input-field{
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 8px;     
    padding: 0 8px;         
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Quand la souris survole le champ */
.input-field:hover {
    border-color: #007bff;       
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3); 
}

/* Quand le champ est focus (clic ou tab) */
.input-field input:focus {
    border-color: #007bff;       
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    outline: none;              
}
.input-field input{
    border: none;
    outline: none;
}
.btn-primary{
    border: none;
    background-color: #003094;
    color: #fff;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}
.help{
    padding: 8px;
    text-align: center;
    color: #8a7d8a;
}
.help a{
    color: #003094;
    text-decoration: none;
}